:root {
    /* Primary Colors */
    --blue-950: hsl(233, 26%, 24%);
    --green-500: hsl(136, 64%, 51%);
    --cyan-400: hsl(192, 69%, 51%);

    /* Neutral Colors */
    --gray-600: hsl(233, 8%, 62%);
    --gray-100: hsl(220, 16%, 96%);
    --gray-50: hsl(0, 0%, 98%);
    --white: hsl(0, 100%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
}