:root {
    /* Primary Colors */
    --blue-950: hsl(233, 26%, 24%);
    --green-500: hsl(136, 64%, 51%);
    --cyan-400: hsl(192, 69%, 51%);

    /* Neutral Colors */
    --gray-600: hsl(233, 8%, 62%);
    --gray-100: hsl(220, 16%, 96%);
    --gray-50: hsl(0, 0%, 98%);
    --white: hsl(0, 100%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

body {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: var(--gray-600);
    overflow-x: hidden;
}

/* button */
.btn {
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    background: linear-gradient(10deg, rgba(44, 182, 216, 1) 0%, rgba(50, 210, 93, 1) 100%);
    color: var(--white);
    padding: 0.8rem 2.2rem;
    border-radius: 50px;
    text-decoration: none;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.container {
    max-width: 1200px;
    margin: auto;
}

h1 {
    color: var(--blue-950);
    font-weight: 300;
    font-size: 48px;
}

p {
    line-height: 28px;
}


/* hero section */

#hero-section {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: var(--white);
    position: relative;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.hero-text {
    width: 65%;
    z-index: 1;
}

.hero-text p {
    margin-bottom: 32px;
}

/* right side - images */

.hero-image {
    width: 100%;
    height: 100%;
    display: flex;
}


.bg-intro-desktop {
    width: 80%;
    position: absolute;
    bottom: 0;
}

.image-mockups {
    width: 50%;
    z-index: 1;
    position: absolute;
    right: -130px;
    bottom: -170px;

}

/* hero and features sections same styles */

#hero-section p,
#features-section p {
    margin-top: 32px;
}

/* hero and features sections same styles */

/* Hover state */
.btn:hover {
    opacity: 0.6;
    background: linear-gradient(20deg, rgba(44, 182, 216, 1) 0%, rgba(50, 210, 93, 1) 100%);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

/* Active state */
.btn:active {
    opacity: 0.8;
    background: linear-gradient(20deg, rgba(44, 182, 216, 1) 0%, rgba(50, 210, 93, 1) 100%);
    box-shadow: 0 0 14px rgba(255, 255, 255, 0.9);
    transform: scale(0.97);
}

.d-none {
    display: none;
}