:root {
    /* Primary Colors */
    --blue-950: hsl(233, 26%, 24%);
    --green-500: hsl(136, 64%, 51%);
    --cyan-400: hsl(192, 69%, 51%);

    /* Neutral Colors */
    --gray-600: hsl(233, 8%, 62%);
    --gray-100: hsl(220, 16%, 96%);
    --gray-50: hsl(0, 0%, 98%);
    --white: hsl(0, 100%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

body {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

/* button */
.btn {
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    background: linear-gradient(10deg, rgba(44, 182, 216, 1) 0%, rgba(50, 210, 93, 1) 100%);
    color: var(--white);
    padding: 0.8rem 2.2rem;
    border-radius: 50px;
    text-decoration: none;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

/* header styles */
.header-container {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 0;
}

.header-ul {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.header-ul a {
    color: var(--gray-600);
    font-size: 16px;
}

.header-btn {
    color: var(--white);
}

#burger img,
#closeIcon {
    cursor: pointer;
    display: none;
}

/* Hover state */
.btn:hover {
    opacity: 0.6;
    background: linear-gradient(20deg, rgba(44, 182, 216, 1) 0%, rgba(50, 210, 93, 1) 100%);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

/* Active state */
.btn:active {
    opacity: 0.8;
    background: linear-gradient(20deg, rgba(44, 182, 216, 1) 0%, rgba(50, 210, 93, 1) 100%);
    box-shadow: 0 0 14px rgba(255, 255, 255, 0.9);
    transform: scale(0.97);
}